<aside class="right-side">

  <!-- BLOCO COMUNIDADE -->
  <div class="card friends">
    <h5>Comunidade ({{ friends.length }})</h5>

    <div class="friends-grid">
      <div *ngFor="let f of topNine" class="friend-item">
        <img [src]="f.avatar || 'assets/avatars/default.png'" alt="Foto" />
        <span class="name">{{ f.nome }}</span>
      </div>
    </div>

    <button class="btn-all">
      Ver todos
    </button>
  </div>

  <!-- BLOCO Tribo -->
  <div class="card team" *ngIf="equipes.length">
    <h5>Tribo ({{ equipes.length }})</h5>

    <div class="friends-grid">
      <div *ngFor="let e of topEquipe" class="friend-item">
        <img [src]="e.avatar || 'assets/avatars/default.png'" alt="Foto" />
        <span class="name">{{ e.nome }}</span>
      </div>
    </div>
  </div>

  <!-- BLOCO DICA -->
  <div class="card tip">
    <h6>Dica</h6>
    <p class="small">Participe diariamente para subir no ranking e ganhar prêmios internos.</p>
  </div>

</aside>
