# Node modules
/node_modules/

# Angular build outputs
/dist/
/out-tsc/
/.angular/cache/

# Temporary files
/tmp
/bazel-out
/connect.lock

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Test coverage
/coverage/

# Sass cache
.sass-cache/

# typings
/typings/

# Misc
libpeerconnection.log
testem.log
