<!-- Main Content -->
<main class="py-5">
  <div class="container">
    <h2 class="mb-5 text-center">Escolha seu jogo</h2>

    <div class="row justify-content-center g-4">

      <!-- Jogo da Memória -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow-lg h-100 border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Jogo da Memória</h5>
            <p class="card-text flex-grow-1">
              Encontre todos os pares neste jogo da memória divertido!
            </p>
            <a routerLink="/memoria" class="btn btn-primary mt-3">Jogar</a>
          </div>
        </div>
      </div>

      <!-- Quiz -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow-lg h-100 border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Quiz</h5>
            <p class="card-text flex-grow-1">
              Responda perguntas sobre seguros e veículos e suba no ranking!
            </p>
            <a routerLink="/quiz" class="btn btn-primary mt-3">Jogar</a>
          </div>
        </div>
      </div>

      <!-- AutoWordle -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow-lg h-100 border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">AutoWordle</h5>
            <p class="card-text flex-grow-1">
              Adivinhe palavras relacionadas a veículos, seguros e Autoglass!
              Teste seu vocabulário técnico e veja quem acerta mais rápido.
            </p>
            <a routerLink="/autowordle" class="btn btn-primary mt-3">Jogar</a>
          </div>
        </div>
      </div>

      <!-- Caça-Palavras -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow-lg h-100 border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Caça-Palavras</h5>
            <p class="card-text flex-grow-1">
              Encontre palavras escondidas sobre o mundo automotivo, seguros e Autoglass!
              Um desafio de atenção e conhecimento.
            </p>
            <a routerLink="/caca-palavras" class="btn btn-primary mt-3">Jogar</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>