 .admin-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f7f9fc;

  main {
    flex: 1;
    padding: 26px 30px;
    overflow-y: auto;
  }
}

/* Responsivo */
@media (max-width: 900px) {
  .admin-wrapper {
    main {
      padding: 20px 16px;
    }
  }
}
