<div class="login-container">

  <!-- LADO ESQUERDO -->
  <div class="left-panel">
    <div class="brand-area animate__animated animate__fadeInLeft">

      <img src="assets/max-play.png" class="brand-logo" />

      <div class="floating-shapes">
        <span class="shape s1"></span>
        <span class="shape s2"></span>
        <span class="shape s3"></span>
        <span class="shape s4"></span>
      </div>

      <!-- TEXTO DE RODAPÉ -->
      <p class="left-footer">uma plataforma criada pela <strong>Maxpar</strong></p>

    </div>
  </div>

  <!-- LADO DIREITO - Login sem box -->
  <div class="right-panel animate__animated animate__fadeInRight">

    <div class="right-logo-area mb-4 text-center">
      <img src="assets/max-play.png" class="right-logo" />
    </div>

    <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">

      <!-- SETOR -->
      <div class="form-group mb-3">
        <select class="form-select" required [(ngModel)]="sector" name="sector" (change)="onSetorChange()">
          <option value="">Selecione sua comunidade...</option>
          <option *ngFor="let s of setores">{{ s }}</option>
        </select>
      </div>

      <!-- Usuário automático -->
      <div *ngIf="usuariosSetor" class="form-group mb-3">
        <select class="form-select" disabled>
          <option>{{ usuariosSetor.nome }}</option>
        </select>
      </div>

      <!-- Equipes Central -->
      <div *ngIf="sector === 'Central de Atendimento'" class="form-group mb-3">
        <select class="form-select" [(ngModel)]="team" name="team" required>
          <option value="">Selecione sua tribo...</option>
          <option *ngFor="let e of equipes">{{ e }}</option>
        </select>
      </div>

      <button class="btn btn-login w-100 mt-2"
        [disabled]="!usuariosSetor || (sector === 'Central de Atendimento' && !team)">
        Entrar no MaxPlay
      </button>

      <p class="version-text mt-4">Autoglass • Corporativo</p>

    </form>

  </div>

</div>
