<nav class="admin-sidebar">

    <!-- Logo -->
    <div class="sidebar-header">
        <div class="logo">MAXPLAY ADMIN</div>
    </div>

    <!-- Navegação -->
    <ul class="nav-links">
        <li routerLink="/admin/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </li>

        <li routerLink="/admin/usuarios" routerLinkActive="active">
            <i class="bi bi-people"></i>
            <span>Usuários</span>
        </li>

        <li routerLink="/admin/jogos" routerLinkActive="active">
            <i class="bi bi-controller"></i>
            <span>Configurar Jogos</span>
        </li>

        <li routerLink="/admin/premios" routerLinkActive="active">
            <i class="bi bi-trophy-fill"></i>
            <span>Configurar Prêmios</span>
        </li>

           <li routerLink="/admin/metas" routerLinkActive="active">
            <i class="bi bi-flag-fill"></i>
            <span>Configurar Metas</span>
        </li>
    </ul>


</nav>