@import "bootstrap/scss/bootstrap";


html, body {
  height: 100%;
  margin: 0;
}

body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.autoglass-footer {
  margin-top: auto;
}
